<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings>
    <add name="apps"		 connectionString="Data Source=vmsql-01;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="v8client" connectionString="Data Source=vmsql-01;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="v8server" connectionString="Data Source=vmsql-01;Initial Catalog=apps;Persist Security Info=True;User ID=apps;Password=C8WDEzy9HPzjnDpWcFYm5UXk" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

	<system.net xdt:Transform="Replace">
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@vubiz.com">
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>